<div class="thankyou-container">
	<div class="img-log">
		<img src="../images/drib.png" alt="logo">
	</div>
	<div class="thank">
		Thank you, you will receive confirmation of your
		campaign via email shortly.
	</div>
	<div class="text">
		<div class="title-thank-text">What happens next?</div>
		<div>
			Within the next 2 working days you will recieve a preview of your display
			ads and landing page, ready for your campaign to launch on your selected dates.
		</div>
		<div>
			Once your campaign has started, you will be able to access your reporting
			dashboard to track the results of your campaign.
		</div>
		<div>
			For more information, please contact our team on <a href="tel:01295817638">01295 817 638</a>
		</div>
	</div>
</div>


<!-- Thanks you, <a href="/step/1">go to step 1</a> -->